.copy-right {
  color: #fff;
  background-color: #171a21;
  border-top: 1px solid #fff;
  margin-top: 5px;
}

.copy-right p {
  font-weight: 100 !important;
}

.copy-right a {
  color: rgb(31, 187, 65);
  margin: 0 5px;
}
